* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffcccc; /* Light pink background */
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #f0f8ff; /* Alice blue background */
    border-radius: 20px; /* Changed border-radius to 20px */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
    padding: 50px 20px;
    text-align: center;
    max-width: 800px; /* Changed max-width to 800px */
    width: 90%; /* Width to 90% of the viewport width */
    margin: 0 auto; /* Center the container */
}

h3 {
    margin: 0;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.joke {
    font-size: 24px; /* Decreased font size for better readability */
    letter-spacing: 1px;
    line-height: 36px; /* Adjusted line height for better spacing */
    margin: 50px auto;
    max-width: 600px;
}

.btn {
    background-color: #ffdab9; /* Peachpuff background */
    color: #000; /* Black text color */
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Darker shadow */
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

.btn:hover {
    background-color: #00ced1; /* Darkturquoise background on hover */
    color: #fff; /* White text color on hover */
}
